.body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
  padding-top: 50px; /* Added padding on top */
  margin: 0;
  display: flex;
  justify-content: flex-start; /* Changed from center to flex-start */
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.header {
  color: #0056b3;
  margin-bottom: 20px; /* Added more space below the header */
}

.description {
  margin-bottom: 30px; /* Increased the vertical space below the paragraph */
}

.stock-form {
  background: white;
  padding: 30px; /* Increased vertical padding inside the form */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-text {
  padding: 10px;
  margin-right: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
  width: 200px;
  box-sizing: border-box;
  margin-bottom: 20px; /* Added more space below the input field */
}

.input-text:focus {
  border-color: #0056b3;
}

.submit-button {
  padding: 12px 24px; /* Slightly larger padding for better clickability */
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #004494;
}
#suggestions {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
  width: calc(100% - 2px);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  cursor: pointer;
}

.suggestion-item {
  padding: 8px 10px;
  border-top: 1px solid #ddd;
}

.suggestion-item:hover {
  background-color: #f9f9f9;
}
/* .buy-button { background-color: green; color: white; }
.sell-button { background-color: red; color: white; }
.hold-button { background-color: gray; color: white; } */

.result-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}

.result-button:hover, .result-button:focus {
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transform: translateY(-2px);
}

.buy-button {
  background-color: #4CAF50; /* Green */
}

.sell-button {
  background-color: #f44336; /* Red */
}

.hold-button {
  background-color: gray; /* gray */
}
.question-button{
  background-color: #0056b3; /* Blue */
}